{% extends 'base.html' %}
{% block title %}Cours{% endblock %}

{% block content %}

<h2>Liste des Cours</h2>

<a href="{% url 'ajouter_cours' %}" class="btn btn-success mb-3">
Ajouter un cours
</a>

<table class="table">

<tr>
<th>Code</th>
<th>Nom</th>
<th>Crédits</th>
<th>Actions</th>
</tr>

{% for cours in cours %}
<tr>
<td>{{ cours.code }}</td>
<td>{{ cours.nom }}</td>
<td>{{ cours.credits }}</td>

<td>
<a href="{% url 'modifier_cours' cours.pk %}" class="btn btn-warning btn-sm">Modifier</a>
<a href="{% url 'supprimer_cours' cours.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}