{% extends 'base.html' %}
{% block title %}Inscriptions{% endblock %}

{% block content %}

<h2>Liste des Inscriptions</h2>

<a href="{% url 'ajouter_inscription' %}" class="btn btn-success mb-3">
Nouvelle inscription
</a>

<table class="table">

<tr>
<th>Étudiant</th>
<th>Cours</th>
<th>Date</th>
</tr>

{% for inscription in inscriptions %}

<tr>

<td>{{ inscription.etudiant }}</td>
<td>{{ inscription.cours }}</td>
<td>{{ inscription.date_inscription }}</td>

</tr>

{% endfor %}

</table>

{% endblock %}